Body {
    background:pink;
    font-family: Arial;
    color: green;
    text-align: center ;
}

h1 {
    text-align: center;
    font-family: Helvetica;
    color: darkred;
}
h2 {
    text-align: center;
    font-family: Helvetica;
    color: #33adffff;
}
h3 {
    text-align: center;
    font-family: Helvetica;
    color: rgb(255,0,255);
}
.blueboldtext{
    font-weight: bold;
    font-size: small;
    color: rgb(32, 20, 255);
}
.largegreentext{
    font-weight:normal;
    font-size: large;
    color: rgb(0, 255, 26);
}
.underline{
    text-decoration: underline;
    
}